<%= simple_form_for @podcast, html: { multipart: true } do |f| %>
  <% if @podcast.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@podcast.errors.count, "error") %>
        prevented this Pin from saving
      </h2>
      <ul>
        <% @podcast.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>



<div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
