
<%= image_tag @podcast.image.url(:medium) %>

<h1><%= @podcast.title %></h1>
<h1><%= @podcast.description %></h1>

<p>Submitted by:</p>
<h1><%= @podcast.user.email %></h1>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_podcast_path %>
<%= link_to "Delete", podcast_path, method: :delete, data: { confirm: "Are you sure?" } %>
