<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading pin_image">
        <%= image_tag @podcast.image.url %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @podcast.title %>
        </h1>
        <p class="description">
          <%= @podcast.description %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              Submitted by
              <%= @podcast.user.email %>
            </p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_podcast_path(@podcast), method: :put, class: "btn btn-default" do %>
                <span class="fa fa-heart"></i>
</span>
                <%= @podcast.get_upvotes.size %>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "Edit", edit_podcast_path, class: "btn btn-default" %>
                <%= link_to "Delete", podcast_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
